*{
    margin: 0;
    font-family: verdana;
    
}
body{
   
    display: flex;
    
    justify-content: center;
}
.header{
    background-color: #D0CECF;
  min-height: 100vh;
   width: 17rem;
   margin-left: 1rem;
   
   
  
}

.mar{
    margin: 1rem 0 0 1rem;
}
.pic h1{
    font-size: 2rem;
    margin: 1rem ;
  
  
}
.red{
    color: #EA833D;
}
.pic img{
   max-width: 17rem;
   
    
}
.right{
    width: 50%;
}
.contact{
    border-bottom: 1px solid black;
    width: 90%;
    margin: 1rem 0;
}
.add h1{
font-size: large;

}
.add p{
    font-size: small;
}
td{
    padding: 1rem;
}

@media screen and (max-width: 700px) {
   
    .header{
        background-color: #D0CECF;
      min-height: 100vh;
       width: 10.5rem;
       margin-left: 1rem;
       
       
      
    }
    .pic img{
        max-width: 10.5rem;
        
         
     }
     .right{
        width: 60%;
    }
    td{
        padding: 0;
    }
}